@model IEnumerable<FeedbackResponseModel>;
<div class="page-header">
    <h1>Feeback</h1>
</div>
<a asp-action="Create" asp-controller="Feedback">Add New Feedback</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                Interview Id
            </th>
            <th>
                Description
            </th>
            <th>
                ABBR
            </th>
            <th colspan="2">
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model)
            {
                        <tr>
                            <td>@m.InterviewId</td>
                            <td>@m.Description</td>
                            <td>@m.ABBR</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Feedback" asp-route-id="@m.Id">Edit</a>
                            </td>
                            <td><a asp-action="Delete" asp-controller="Feedback" asp-route-id="@m.Id">Delete</a></td>
                        </tr>
            }
        }
    </tbody>
</table>