@model IEnumerable<EmployeeRoleResponseModel>;
<div class="page-header">
    <h1>Employee Roles</h1>
</div>
<a asp-action="Create" asp-controller="EmployeeRole">Add New Role</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Is Active
            </th>
            <th colspan="2">
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model)
            {
                        <tr>
                            <td>@m.Title</td>
                            <td>@m.Description</td>
                            <td>@m.IsActive</td>
                            <td>
                                <a asp-action="Edit" asp-controller="EmployeeRole" asp-route-id="@m.Id">Edit</a>
                            </td>
                            <td><a asp-action="Delete" asp-controller="EmployeeRole" asp-route-id="@m.Id">Delete</a></td>
                        </tr>
            }
        }
    </tbody>
</table>